.header{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .navigate {

        @include device(mobile) {
            display: none;
        }
    
        &-list{

            display: flex;
            align-items: center;

            &__item{
                margin: 0 20px;
                cursor: pointer;
                position: relative;


                &.subscribe{
                    background: #C505F2;
                    padding: 15px;
                    border-radius: 4px;
                    transition: ease-in-out .2s;
                    
                    .navigate-list__link{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    &:after{
                        display: none;
                    }

                    &:hover{
                        background: rgba(199, 5, 242, 0.5019607843);
                    }
                }

                &:after{
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: #C405F2;
                    position: absolute;
                    bottom: -5px;
                    left: -7.5px;
                    transition: ease-in-out .4s; 
                }

                &:hover{

                    &:after{
                        width: calc( 100% + 15px );
                    }
                }
            }
    
            &__link{
                color: #1E1E1E;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 16px;

                
            }
        }
    }
}
