.header{

    &-fixed{
        background-color: #fff;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    @include device(mobile) {
        padding: 10px;

        &-logo {

            svg{
                max-width: 90px;
                max-height: 40px;
            }
        }
    }
    

    .navigate {

        @include device(mobile) {
            position: fixed;
            top: 60px;
            left: -100vw;
            background-color: #fff;
            height: 100%;
            width: 95vw;
            padding-top: 40px;
            transition: ease-in-out 0.6s;

            .navigate-list__link{
                margin: 15px 30px;
                display: inline-block;
                font-size: 16px;
                line-height: 25px;
            }

            .navigate-list__item{

                &.subscribe{
                    .navigate-list__link{
                        text-align: center;
                        display: block;
                        margin: 0;
                    }
                }
            }

            &.open-menu{
                left: 0;
                
            }
        }

    
        &-list{
            @include device(desktop) {
            display: flex;
            align-items: center;
        }
            &__item{
                margin: 0 20px;
                cursor: pointer;
                position: relative;


                &.subscribe{
                    
                    .navigate-list__link{
                        background: #C505F2;
                        border-radius: 4px;
                        transition: ease-in-out 0.2s;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 14px;
                        vertical-align: middle;
                        padding: 10px 18px;
                        display: inline-block;

                        &:hover{
                            background: rgba(199, 5, 242, 0.5019607843);
                        }
                    }

                    &:after{
                        display: none;
                    }

                    
                }

                &:after{
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: #C405F2;
                    position: absolute;
                    bottom: -5px;
                    left: -7.5px;
                    transition: ease-in-out .4s; 

                    @include device(mobile) {
                        bottom: 7px;
                    }
                }

                &:hover{

                    &:after{
                        width: calc( 100% + 15px );

                        @include device(mobile) {
                            width: calc( 100% + 2px );
                        }
                    }
                }
            }
    
            &__link{
                color: #1E1E1E;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 16px;

                
            }
        }
    }
}
