.first{
    background-image: url('/image/banner-bike.webp');
    background-size: cover;
    min-height: 702px;
    
    @include device(desktop) {
        padding: 70px;
    }

    @include device(mobile) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    

    color: #FFFFFF;

    &-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;

        &:after {
            content: "";
            display: block;
            background-color: #C405F2;
            width: 17em;
            height: 1px;
            margin: 35px 0;

            @include device(mobile) {
                width: 100%;
            }
        }
    }

    &-stores {
        display: flex;
        align-items: center;
        gap: 25px;
        margin: 40px 0;

        @include device(mobile) {
            flex-wrap: wrap;
        }
    }

    &-subtitle{
        font-size: 20px;
        line-height: 23px;
    }
    
}