.map {
    position: relative;

    &-description{
        padding: 30px 90px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);

        background: rgba(26, 26, 26, 0.85);
        border-radius: 4px;

        @include device(mobile) {
            padding: 25px 30px;
            width: calc(100% - 30px );
        }

        &__title{
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            
        }
        &__address{
            font-size: 16px;
            line-height: 18px;  
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        &__maps{
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: inherit;
            text-transform: uppercase;
            background: #62C5DE;
            border-radius: 4px;
            width: 100%;
            max-width: calc(100% - 20px);
            margin: auto;
            padding: 15px;
            transition: ease-in-out .4s;

            &:hover{
                background: #62c5de6e;
            }
        }
    }
    
}