.open{
    background-color: #FAFAFA;
    text-align: center;
    color: #1E1E1E;

    &-call{
        font-size: 40px;
        line-height: 100%;
        font-weight: 700;
        margin-bottom: 56px;

        &__color{
            color: #C405F2;
        }
    }

    &-image{
        margin: 50px 0;

        @include device(mobile) {
            img{
                margin-top: 20px;
                width: 145px;
                margin: auto;
            }
            
        }
    }

    &-confirm{
        
        &__link{
            display: inline-block;
            margin-top: 56px;
            background: #C505F2;
            padding: 15px 29px;
            color: #FFFFFF;
            border-radius: 4px;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            transition: ease-in-out .4s;

            &:hover{
                background: rgba(199, 5, 242, 0.5019607843);
            }
        }
    }
}