.section{
    padding-bottom: 56px;

    &-title{
        font-size: 40px;
        line-height: 100%;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;

        @include device(mobile) {
            font-size: 36px;
            line-height: 41px;
        }
    }
}