.section{
    padding: 80px 0;

    &-title{
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        text-align: center;

        margin-bottom: 90px;

        @include device(mobile) {
            font-size: 36px;
            line-height: 41px;
        }
    }
}