.sponsor{

    

    &.section{
        padding-bottom: 16px;
    }

    @include device(desktop) {
        &-slider{
            width: 90%;
        }

        &-vindi {
            max-width: 84px;
        }
    }
    

    

    .section-title{
        margin-bottom: 40px;
    }
    
    .container{

        @include device(desktop){
            display: flex;
            align-items: center;
            justify-content: center;

            
            margin-bottom: 40px;

        }

        @include device(mobile){
            flex-direction: column;
            text-align: center;
        }

        svg{
            max-height: 30px;
            height: 30px;
            vertical-align: middle;
        }

        img{
            height: auto;
            width: auto;
            margin: auto;
        }

        .sponsor-help{
            text-align: center;
            font-size: 20px;
            display: block;

            @include device(mobile){
                margin-bottom: 20px;
                margin-top: 40px;
            }
        }

        .sponsor-img{
            max-height: 40px;
            height: 40px;
            vertical-align: middle;
            @include device(desktop) {
                margin: 0 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-brasil{
        height: 31px !important;
    }

    &-double{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 61px;

        @include device(mobile){
            order: 3;
            gap: 20px;
        }
    }

}