.sponsor{

    @include device(mobile) {
        padding: 0 25px;
        padding-bottom: 40px;
        
        &-aws {
            order: 1;
        }
        &-vindi {
            order: 2;
        }
    }

    .section-title{
        margin-bottom: 40px;
    }
    
    .container{
        max-width: 1200px;

        @include device(mobile){
            flex-direction: column;
        }

        svg{
            max-height: 40px;
            height: 40px;
            vertical-align: middle;
            margin: 0 30px;
        }
    }

    &-double{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 61px;

        @include device(mobile){
            order: 3;
            gap: 20px;
        }
    }

}