.section-title{
    margin-top: 24px;
}

@include device(desktop) {
    table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    
        &.desktop{
            display: table;
        }
    
        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 0.5px solid rgba(144, 144, 144, 0.5);
            border-right: 0.5px solid rgba(144, 144, 144, 0.5);
        }
        th {
            background-color: #C505F2;
            color: #fff;
            font-weight: bold;
            padding: 30px 8px;
            
        }
    
        thead th{
            border: 0.5px solid rgba(144, 144, 144, 0.5);
            border-bottom: none;
            text-align: left;
            padding-left: 30px;
    
            &:nth-child(1) {
                border-right: 1px solid #C505F2;
                text-align: center;
                padding-left: 8px;
            }
            &:nth-child(2) {
                border-right: 1px solid #C505F2;
            }
            &:nth-child(3) {
                padding-left: 60px;
            }
        }
        
        td {
            background-color: #FFF;
            color: #000;
            font-weight: bold;
            padding-left: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
    
            &:first-child{
                background-color: rgba(26, 26, 26, 0.15);
                color: #C505F2;
                border-left: 1px solid #909090;
                text-align: center;
                padding: 20px;
            }
            &:last-child{
                padding-left: 60px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
    
            &.no-content{
                padding: 16px 0;
                margin: 0;
            }
        }
        .sub-speaker{
            float: left;
            margin-right: 25px;
        }
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }
        .name {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .function {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 300;
        }
        .company {
            font-size: 14px;
            color: #C505F2;
        }
    }
}

@include device(mobile) {
    .time{
        &-container{
            border: 0.5px solid rgba(144, 144, 144, 0.5);
            border-radius: 0 0 5px 5px;
        }
        .section-title{
            background: #C505F2;
            border-radius: 5px 5px 0px 0px;
            color: #FFF;
            padding: 10px 0;
            margin-bottom: 0;
        }
        &-stamp{
            padding: 15px;
            border-bottom: 0.5px solid rgba(144, 144, 144, 0.5);

            &:last-child{
                border-bottom: 0;
            }
            
            &__purple{
                color: #C505F2;
                font-weight: bold;
            }

            &__black{
                font-weight: bold;
            }

            &__person{
                margin-top: 25px;
            }
        }
        .time-stamp__person:has(.sub-speaker){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 25px;
        }
        .sub-speaker{
            flex: .5;
        }
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }
        .name {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .function {
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 300;
        }
        .company {
            font-size: 14px;
            font-weight: bold;
            color: #C505F2;
        }
    }
}