.who{
    @include device(desktop){
        &-content {
            flex: .5
        }

        &-image {
            flex: .5;
            
            img{
                max-height: 1090px;
            }
        }

        .section-title{
            margin-top: 56px;
            margin-bottom: 48px;
        }
    }
    

    .container{
        @include device(desktop) {
            display: flex;
            flex-direction: row-reverse;
            max-height: 1090px;
        }
        
        @include device(mobile) {
            padding: 0;
        }
        
    }

    &-item{
        display: flex;
        align-items: baseline;
        gap: 10px;


        &__dots{
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            svg{
                background: white;
                z-index: 9;
            }

            @include device(mobile) {
                padding-left: 25px;
            }

            @include device(desktop) {
                padding-left: 60px;
            }
            
            &:after{
                content: '';
                width: 35px;
                height: 1px;
                border: 0.5px dashed  #77777A;
                display: block;
            }

            &:before{
                content: "";
                width: 1px;
                height: 110px;
                border: 0.5px solid #D9D9D9;
                position: absolute;
                top: 15px;
                left: 55%;
                z-index: 9;

                @include device(mobile){
                    height: 120px;
                    top: 6px;
                    left: 40%;
                }
            }
        }

        &.wake-launch{
            background-color: #C405F2;
            padding-top: 30px;
            padding-bottom: 30px;
            
            @include device(desktop) {
                border-radius: 5px;
                position: relative;

                &:before{
                    content:'';
                    width: 80px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: -70px;
                    background-color: #C405F2;
                    border-radius: 5px;
                }
            }

            &>*{
                color: #FFFFFF;
                font-weight: 700;
                
            }

            .who-item__dots:after{
                border-color: #FFFFFF;
                
            }

            .who-item__dots {
                svg{
                    background: #C405F2;
                    z-index: 9;
                }
            }

            .who-item__dots:before{
                display: none;
            }
        }
            
        &__description{
            transform: translate(0, -15px);
            font-size: 16px;
            line-height: 20px;

            @include device(mobile) {
                padding-right: 25px;
            }
            
            &--date{
                font-weight: 700;
            }
        }
    }
}