.who{

    &-itens{



    }

    &-item{
        display: flex;
        align-items: center;
        gap: 10px;

        &__dots{
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            
            &:after{
                content: '';
                width: 35px;
                height: 1px;
                border: 0.5px dashed  #77777A;
                display: block;

            }

            

        }
            
    }
}