@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Helvetica.woff) format('truetype');
}

@font-face {
    font-family: 'Helvetica Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Helvetica-Bold.woff) format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    font-display: swap;
    src: url(/fonts/Helvetica-Oblique.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Helvetica-BoldOblique.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Compressed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/helvetica-compressed-5871d14b6903a.otf) format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/helvetica-light-587ebe5a59211.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Rounded';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/helvetica-rounded-bold-5871d05ead8de.otf) format('truetype');
}

