$desktop: 1236px;
$mobile: 1235px;

@mixin device($size) {
    @if $size ==desktop {
        @media screen and (min-width: #{$desktop}) {
            @content;
        }
    }

    @else if $size ==mobile {
        @media screen and (max-width: #{$mobile}) {
            @content;
        }
    }
}

.black{
    fill:#050505;
}

.blue{
    fill:#004993;
}

.st1{fill:#FDC90A;}

.st2{fill:#868686;}

.container{
    @include device(desktop) {
        width: calc(100% - 90px);
        max-width: 1440px;
        margin: auto;
    }
    

    @include device(mobile) {
        width: 100%;
        padding: 0 25px;
    }
}

.desktop {
    @include device(desktop) {
        display: block;
    }
    

    @include device(mobile) {
        display: none;
    }
}

.mobile {
    @include device(desktop) {
        display: none;
    }
    

    @include device(mobile) {
        display: block;
    }
}
