@media screen and (min-width: 1026px) {
  .container {
    width: calc(100% - 90px);
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
}

@media screen and (min-width: 1026px) {
  .desktop {
    display: block;
  }
}
@media screen and (max-width: 1025px) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: 1026px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .mobile {
    display: block;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

abbr[title] {
  border: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after,
input[type=search] {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section {
  padding: 80px 0;
}
.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 1025px) {
  .section-title {
    font-size: 36px;
    line-height: 41px;
  }
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Helvetica.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Helvetica-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: italic;
  src: url(/fonts/Helvetica-Oblique.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Helvetica-BoldOblique.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica Compressed";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/helvetica-compressed-5871d14b6903a.otf) format("truetype");
}
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/helvetica-light-587ebe5a59211.ttf) format("truetype");
}
@font-face {
  font-family: "Helvetica Rounded";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/helvetica-rounded-bold-5871d05ead8de.otf) format("truetype");
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header-fixed {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.02);
}
@media screen and (max-width: 1025px) {
  .header {
    padding: 30px 10px;
  }
  .header-logo svg {
    max-width: 90px;
    max-height: 40px;
  }
}
@media screen and (max-width: 1025px) {
  .header .navigate {
    display: none;
  }
}
.header .navigate-list {
  display: flex;
  align-items: center;
}
.header .navigate-list__item {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}
.header .navigate-list__item.subscribe {
  background: #C505F2;
  padding: 15px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}
.header .navigate-list__item.subscribe .navigate-list__link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.header .navigate-list__item.subscribe:after {
  display: none;
}
.header .navigate-list__item.subscribe:hover {
  background: rgba(199, 5, 242, 0.5019607843);
}
.header .navigate-list__item:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #C405F2;
  position: absolute;
  bottom: -5px;
  left: -7.5px;
  transition: ease-in-out 0.4s;
}
.header .navigate-list__item:hover:after {
  width: calc(100% + 15px);
}
.header .navigate-list__link {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
}

.first {
  background-image: url("/image/banner-bike.png");
  background-size: cover;
  min-height: 702px;
  color: #FFFFFF;
}
@media screen and (min-width: 1026px) {
  .first {
    padding: 70px;
  }
}
@media screen and (max-width: 1025px) {
  .first {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.first-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}
.first-title:after {
  content: "";
  display: block;
  background-color: #C405F2;
  width: 17em;
  height: 1px;
  margin: 35px 0;
}
@media screen and (max-width: 1025px) {
  .first-title:after {
    width: 100%;
  }
}
.first-stores {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 40px 0;
}
@media screen and (max-width: 1025px) {
  .first-stores {
    flex-wrap: wrap;
  }
}
.first-subtitle {
  font-size: 20px;
  line-height: 23px;
}

.date {
  background-color: #1A1A1A;
  color: #FFFFFF;
  font-weight: 700;
  padding: 40px 0;
}
.date .container {
  display: flex;
  justify-content: center;
  gap: 180px;
  align-items: center;
}
@media screen and (max-width: 1025px) {
  .date .container {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }
}
.date-day {
  display: flex;
  flex-direction: column;
}
.date-day__time {
  font-size: 24px;
  line-height: 28px;
}
.date-day__time:after {
  content: "";
  display: block;
  background-color: #C405F2;
  width: calc(100% + 30px);
  height: 1px;
  margin: 10px 0;
}
@media screen and (max-width: 1025px) {
  .date-day__time:after {
    margin-left: -15px;
  }
}
.date-day__date {
  font-size: 36px;
  line-height: 41px;
}
.date-day__locate {
  font-size: 24px;
  line-height: 28px;
}
.date-container {
  display: flex;
  text-align: center;
  gap: 50px;
}
.date-container__all {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.date-container__numbers {
  font-size: 48px;
  line-height: 55px;
}
.date-container__itens {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #C405F2;
}

.speakers {
  background-color: #FAFAFA;
}
.speakers-profiles {
  display: flex;
  justify-content: center;
  gap: 22px;
}
@media screen and (max-width: 1025px) {
  .speakers-profiles {
    flex-direction: column;
  }
}
.speakers .speaker-profile {
  position: relative;
}
.speakers .speaker-description {
  background-color: #C405F2;
  color: #FFFFFF;
  clip-path: polygon(0 0, 100% 38%, 100% 100%, 0 100%);
  padding: 60px 20px 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  right: -0.5px;
  width: calc(100% + 0.5px);
}
.speakers .speaker-description__function {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.speakers .speaker-description__function:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  display: block;
  margin: 10px 0;
}

@media screen and (max-width: 1025px) {
  .sponsor {
    padding: 0 25px;
  }
  .sponsor-aws {
    order: 1;
  }
  .sponsor-vindi {
    order: 2;
  }
}
.sponsor .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
@media screen and (max-width: 1025px) {
  .sponsor .container {
    flex-direction: column;
  }
}
.sponsor-double {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
@media screen and (max-width: 1025px) {
  .sponsor-double {
    order: 3;
    gap: 20px;
  }
}

@media screen and (min-width: 1026px) {
  .who-itens {
    flex: 0.5;
  }
  .who-image {
    flex: 0.5;
  }
  .who-image img {
    height: 1115px;
  }
  .who .section-title {
    margin-top: 65px;
    margin-bottom: 49px;
  }
}
@media screen and (min-width: 1026px) {
  .who .container {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1025px) {
  .who .container {
    padding: 0;
  }
}
.who-item {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.who-item__dots {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.who-item__dots svg {
  background: white;
  z-index: 9;
}
@media screen and (max-width: 1025px) {
  .who-item__dots {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1026px) {
  .who-item__dots {
    padding-left: 60px;
  }
}
.who-item__dots:after {
  content: "";
  width: 35px;
  height: 1px;
  border: 0.5px dashed #77777A;
  display: block;
}
.who-item__dots:before {
  content: "";
  width: 1px;
  height: 110px;
  border: 0.5px solid #D9D9D9;
  position: absolute;
  top: 15px;
  left: 55%;
  z-index: 9;
}
@media screen and (max-width: 1025px) {
  .who-item__dots:before {
    height: 120px;
    top: 6px;
    left: 40%;
  }
}
.who-item.wake-launch {
  background-color: #C405F2;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1026px) {
  .who-item.wake-launch {
    position: relative;
  }
  .who-item.wake-launch:before {
    content: "";
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -70px;
    background-color: #C405F2;
    border-radius: 5px;
  }
}
.who-item.wake-launch > * {
  color: #FFFFFF;
  font-weight: 700;
}
.who-item.wake-launch .who-item__dots:after {
  border-color: #FFFFFF;
}
.who-item.wake-launch .who-item__dots svg {
  background: #C405F2;
  z-index: 9;
}
.who-item.wake-launch .who-item__dots:before {
  display: none;
}
.who-item__description {
  transform: translate(0, -15px);
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 1025px) {
  .who-item__description {
    padding-right: 25px;
  }
}
.who-item__description--date {
  font-weight: 700;
}

.open {
  background-color: #FAFAFA;
  text-align: center;
  color: #1E1E1E;
}
.open-call {
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 50px;
}
.open-call__color {
  color: #C405F2;
}
.open-image {
  margin: 50px 0;
}
@media screen and (max-width: 1025px) {
  .open-image img {
    margin-top: 20px;
    width: 145px;
    margin: auto;
  }
}
.open-confirm__link {
  display: inline-block;
  margin-top: 56px;
  background: #C505F2;
  padding: 15px 29px;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  transition: ease-in-out 0.4s;
}
.open-confirm__link:hover {
  background: rgba(199, 5, 242, 0.5019607843);
}

.map {
  position: relative;
}
.map-description {
  padding: 30px 90px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  background: rgba(26, 26, 26, 0.85);
  border-radius: 4px;
}
@media screen and (max-width: 1025px) {
  .map-description {
    padding: 25px 30px;
    width: calc(100% - 30px);
  }
}
.map-description__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.map-description__address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}
.map-description__maps {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  background: #62C5DE;
  border-radius: 4px;
  width: 100%;
  max-width: calc(100% - 20px);
  margin: auto;
  padding: 15px;
  transition: ease-in-out 0.4s;
}
.map-description__maps:hover {
  background: rgba(98, 197, 222, 0.431372549);
}

.attend {
  margin-top: 30px;
  margin-bottom: 105px;
  text-align: center;
  color: #1E1E1E;
  font-weight: 400;
}
.attend-text {
  font-size: 36px;
  line-height: 41px;
}
.attend-call {
  font-size: 24px;
  line-height: 28px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.attend-link {
  display: inline-block;
  color: #FFFFFF;
  background: #C505F2;
  border-radius: 4px;
  padding: 15px 30px;
  transition: ease-in-out 0.4s;
  text-transform: uppercase;
  font-weight: 700;
}
.attend-link:hover {
  background: rgba(199, 5, 242, 0.5019607843);
}

.footer {
  background: #EEEEEE;
}
.footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 90px 0;
}
.footer-questions {
  font-size: 20px;
  line-height: 25px;
}
.footer-questions__title {
  color: #C505F2;
  font-weight: 700;
}
.footer-questions__email {
  color: #000000;
}
.footer-questions:before {
  content: "";
  background-color: #D6D1D7;
  width: 100%;
  height: 1px;
  display: block;
  margin: 30px 0;
}
.footer-bottom {
  padding: 50px 0;
  background-color: #1A1A1A;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1025px) {
  .footer-bottom .container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.footer-bottom__text {
  color: #FFFFFF;
}
.footer-bottom__link {
  color: #FFFFFF;
  text-decoration: underline;
}

/*# sourceMappingURL=theme.css.map */
