.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

abbr[title] {
  border: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after,
input[type=search] {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section {
  padding: 100px 0;
}
.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 90px;
}

@font-face {
  font-family: "Helvetica Bold";
  src: url(fonts/Helvetica-Bold.ttf);
}
@font-face {
  font-family: "Helvetica Oblique";
  src: url(/fonts/Helvetica-Oblique.ttf);
}
@font-face {
  font-family: "Helvetica Bold Oblique";
  src: url(/fonts/Helvetica-Oblique.ttf);
}
@font-face {
  font-family: "Helvetica Compressed";
  src: url(/fonts/helvetica-compressed-5871d14b6903a.otf);
}
@font-face {
  font-family: "Helvetica Light";
  src: url(/fonts/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
  font-family: "Helvetica Rounded Bold";
  src: url(/fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/Helvetica.ttf);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header .navigate-list {
  display: flex;
  align-items: center;
}
.header .navigate-list__item {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
.header .navigate-list__item.subscribe {
  background: #C505F2;
  padding: 15px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}
.header .navigate-list__item.subscribe .navigate-list__link {
  color: #fff;
}
.header .navigate-list__item.subscribe:after {
  display: none;
}
.header .navigate-list__item.subscribe:hover {
  opacity: 0.8;
}
.header .navigate-list__item:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #C405F2;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: ease-in-out 0.4s;
}
.header .navigate-list__item:hover:after {
  width: 100%;
}
.header .navigate-list__link {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
}

.speakers {
  background-color: #FAFAFA;
}
.speakers-profiles {
  display: flex;
  justify-content: center;
  gap: 22px;
}
.speakers .speaker-profile {
  position: relative;
}
.speakers .speaker-description {
  background-color: #C405F2;
  color: #FFFFFF;
  clip-path: polygon(0 0, 100% 38%, 100% 100%, 0 100%);
  padding: 60px 35px 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.speakers .speaker-description__function {
  font-size: 14px;
  line-height: 18px;
}
.speakers .speaker-description__function:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  display: block;
  margin: 10px 0;
}

.who .container {
  max-width: 1000px;
}
.who-item {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.who-item__dots {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.who-item__dots:after {
  content: "";
  width: 35px;
  height: 1px;
  border: 0.5px dashed #77777A;
  display: block;
}
.who-item.wake-launch {
  background-color: #C405F2;
}
.who-item.wake-launch > * {
  color: #FFFFFF;
  font-weight: 700;
}
.who-item.wake-launch .who-item__dots:after {
  border-color: #FFFFFF;
}
.who-item__description {
  transform: translate(0, -15px);
  font-size: 16px;
  line-height: 20px;
}
.who-item__description--date {
  font-weight: 700;
}

.map {
  position: relative;
}
.map-description {
  padding: 30px 90px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(26, 26, 26, 0.85);
  border-radius: 4px;
}
.map-description__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.map-description__address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 20px;
}
.map-description__maps {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  background: #62C5DE;
  border-radius: 4px;
  width: 100%;
  max-width: calc(100% - 20px);
  margin: auto;
  padding: 15px;
  transition: ease-in-out 0.4s;
}
.map-description__maps:hover {
  background: rgba(98, 197, 222, 0.431372549);
}

.footer {
  background: #EEEEEE;
}
.footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 90px 0;
}
.footer-questions {
  font-size: 20px;
  line-height: 25px;
}
.footer-questions__title {
  color: #C505F2;
  font-weight: 700;
}
.footer-questions__email {
  color: #000000;
}
.footer-questions:before {
  content: "";
  background-color: #D6D1D7;
  width: 100%;
  height: 1px;
  display: block;
  margin: 30px 0;
}
.footer-bottom {
  padding: 50px 0;
  background-color: #1A1A1A;
}
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
.footer-bottom__text {
  color: #FFFFFF;
}
.footer-bottom__link {
  color: #FFFFFF;
  text-decoration: underline;
}

/*# sourceMappingURL=theme.css.map */
