html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
}

ol, ul {
  list-style: none;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

abbr[title] {
  border: none;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after,
input[type=search] {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 90px;
}

@font-face {
  font-family: "Helvetica Bold";
  src: url(fonts/Helvetica-Bold.ttf);
}
@font-face {
  font-family: "Helvetica Oblique";
  src: url(/fonts/Helvetica-Oblique.ttf);
}
@font-face {
  font-family: "Helvetica Bold Oblique";
  src: url(/fonts/Helvetica-Oblique.ttf);
}
@font-face {
  font-family: "Helvetica Compressed";
  src: url(/fonts/helvetica-compressed-5871d14b6903a.otf);
}
@font-face {
  font-family: "Helvetica Light";
  src: url(/fonts/helvetica-light-587ebe5a59211.ttf);
}
@font-face {
  font-family: "Helvetica Rounded Bold";
  src: url(/fonts/helvetica-rounded-bold-5871d05ead8de.otf);
}
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/Helvetica.ttf);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 10px 0;
}
.header .navigate-list {
  display: flex;
  align-items: center;
}
.header .navigate-list__item {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
.header .navigate-list__item.subscribe {
  background: #C505F2;
  padding: 15px;
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}
.header .navigate-list__item.subscribe .navigate-list__link {
  color: #fff;
}
.header .navigate-list__item.subscribe:after {
  display: none;
}
.header .navigate-list__item.subscribe:hover {
  opacity: 0.8;
}
.header .navigate-list__item:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #C405F2;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: ease-in-out 0.4s;
}
.header .navigate-list__item:hover:after {
  width: 100%;
}
.header .navigate-list__link {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 16px;
}

.speakers-profiles {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.speakers .speaker-profile {
  position: relative;
}
.speakers .speaker-description {
  background-color: #C405F2;
  color: #FFFFFF;
  clip-path: polygon(0 0, 100% 38%, 100% 100%, 0 100%);
  padding: 60px 35px 25px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.speakers .speaker-description__function {
  font-size: 14px;
  line-height: 18px;
}
.speakers .speaker-description__function:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  display: block;
  margin: 10px 0;
}

/*# sourceMappingURL=theme.css.map */
